<main class="col-md-10 col-md-offset-1">

<div class="page-header">
  <h2>dummy search result</h2>
</div>

<% @evidence_items.each do |e| %>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>result</strong>
      <%= e.result %>
    </li>
    <li class="list-group-item">
      <strong>benefit</strong>
      <%= e.benefit %>
    </li>
  </ul>
<% end %>
