 <main>
  <h1>Welcome to SERLER</h1>
     <%= search_form_for @search do |f| %>
     <%= f.label :benefit_cont, "benefit contains" %>
     <%= f.search_field :benefit_cont %>
     <%= f.submit "search" %>
     <% end %>
</main>
